<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなの商品 (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "出品する", new_item_path, class: "btn btn-primary btn-lg btn-record" %></p>
  	  </div>
    </div>
  </div>
<% else %>
  <center>
    <%= image_tag 'home_logo.jpg', id: 'home_logo' %>
    <h2>あなたの「いらない」は、だれかの「ほしい」</h2>
  </center>
<% end %>